<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat GCT</title>    
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Gugi&family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    
</head>
<body>
  <% if (cls != 'a') { %>




  <ul class="navbar">
    <li class="nav-item" style="min-height : 45px"  >
      <a class="title">CHAT - GCT</a>
      <button id="showPanelBtn" style="float: right;" ><img src="./images/Menu.png" alt="메뉴" ></button>
      <div id="panel">
        <button id="hidePanelBtn" style="margin-left:auto;" ><img src="./images/hide.png" alt="닫기"></button>
        <span style="margin-top: 30px; font-size: 20px;">CHAT-GCT</span>
        <img src="./images/gachon.png" style="width: 45px; height:45px; margin:10px">
        <a href="/login/"><button class="logbtn" id="loginbtn" onclick="login()">로그인</button></a>
        <a href="/login/join/"><button class="join">회원가입</button></a>
        <!-- <button class="logbtn" id="logoutbtn" onclick="logout()" style="display: none;">로그아웃</button>
        <div class="panelbtn">
          <a href="/mypage/" id="mypagebtn" style="display: none;"><button class="panelbtn1">내 정보</button></a>
          <a href="/timetable/" id="timetablebtn" style="display: none;"><button class="panelbtn1">시간표</button></a>
        </div> -->
      </div>
    </li>
  </ul>
  <p class="boundary"></p>
  <div class="wrapper">
    <div class="display-container">
      <ul class="chatting-list">
        <li class="received">
          <span class="profile">
            <img class="received-image" src="./images/icon.png" alt="any">
          </span>
          <span class="message">
            안녕하세요. 저는 가천대학교 챗봇 CHAT_GCT 에요! <br>
            학사일정, 공지사항, 개설강좌 등에 대해 열심히 공부했답니다. <br>
            최선을 다해 답변드릴게요. <br>
            <br>
            상단의 메뉴를 통해 로그인 후 이용하시면 학사일정, 시간표 등 나만의 맞춤 챗봇으로 이용할 수 있어요! <br>
            <br>
            로그인 후 반드시 로그아웃 하여 개인정보 노출에 주의해주세요!
          </span>
        </li>

        <li class="received">
          <span class="profile" style="visibility:hidden">
            <span class="user">
              CHAT-GCT
            </span>
            <img class="received-image" src="./images/icon.png" alt="any">
          </span>
          <span class="message" style="font-size: 20px; ">
            <div class="guide-box" onclick="location.href='이동할 링크주소(URL)';">시간표 검색</div> 
            <div class="guide-box" onclick="location.href='이동할 링크주소(URL)';">공지사항</div> 
            <div class="guide-box" onclick="location.href='이동할 링크주소(URL)';">학사일정</div>
            <div class="guide-box" onclick="location.href='이동할 링크주소(URL)';">수강신청</div> 
            <div class="guide-box" onclick="location.href='이동할 링크주소(URL)';">등록금</div> 
            <div class="guide-box" onclick="location.href='이동할 링크주소(URL)';">휴학신청</div>
          </span>
        </li>
      </ul>
    </div>
    <div class="input-container">
      <textarea class="chatting-input"  autofocus /> </textarea>
      <button class="send-button">입력</button>
    </div>
  </div>

  <% } else { %>



  <ul class="navbar">
    <li class="nav-item" style="min-height : 45px"  >
      <a class="title">CHAT - GCT</a>
      <button id="showPanelBtn" style="float: right;" ><img src="./images/Menu.png" alt="메뉴" ></button>
      <div id="panel">
        <button id="hidePanelBtn" style="margin-left:auto;" ><img src="./images/hide.png" alt="닫기"></button>
        <span style="margin-top: 30px; font-size: 20px;">CHAT-GCT</span>
        <img src="./images/gachon.png" style="width: 45px; height:45px; margin:10px">
        <!-- <a href="/login/"><button class="logbtn" id="loginbtn" onclick="login()" style="display: none;">로그인</button></a> -->
        <a href="/login/logout"><button class="logbtn" id="logoutbtn" style="display: inline-block;">로그아웃</button></a>
        <div class="panelbtn">
          <a href="/mypage/" id="mypagebtn" style="display: inline-block;"><button class="panelbtn1">내 정보</button></a>
          <a href="/timetable/" id="timetablebtn" style="display: inline-block;"><button class="panelbtn1">시간표</button></a>
        </div>
      </div>
    </li>
  </ul>
  <p class="boundary"></p>
  <div class="wrapper">
    <div class="display-container">
      <ul class="chatting-list">
        <li class="received">
          <span class="profile">
            <img class="received-image" src="./images/icon.png" alt="any">
          </span>
          <span class="message">
            안녕하세요. 저는 가천대학교 챗봇 CHAT_GCT 에요! <br>
            학사일정, 공지사항, 개설강좌 등에 대해 열심히 공부했답니다. <br>
            최선을 다해 답변드릴게요. <br>
            <br>
            상단의 메뉴를 통해 로그인 후 이용하시면 학사일정, 시간표 등 나만의 맞춤 챗봇으로 이용할 수 있어요! <br>
            <br>
            로그인 후 반드시 로그아웃 하여 개인정보 노출에 주의해주세요!
          </span>
        </li>

        <li class="received">
          <span class="profile" style="visibility:hidden">
            <span class="user">
              CHAT-GCT
            </span>
            <img class="received-image" src="./images/icon.png" alt="any">
          </span>
          <span class="message" style="font-size: 20px; ">
            <div class="guide-box" onclick="location.href='이동할 링크주소(URL)';">시간표 검색</div> 
            <div class="guide-box" onclick="location.href='이동할 링크주소(URL)';">공지사항</div> 
            <div class="guide-box" onclick="location.href='이동할 링크주소(URL)';">학사일정</div>
            <div class="guide-box" onclick="location.href='이동할 링크주소(URL)';">수강신청</div> 
            <div class="guide-box" onclick="location.href='이동할 링크주소(URL)';">등록금</div> 
            <div class="guide-box" onclick="location.href='이동할 링크주소(URL)';">휴학신청</div>
          </span>
        </li>
      </ul>
    </div>
    <div class="input-container">
      <textarea class="chatting-input"  autofocus /> </textarea>
      <button class="send-button">입력</button>
    </div>
  </div>


  <% } %>



    <script src="/socket.io/socket.io.js"></script> 
    <script src="./js/panel.js"></script>
    <script src="./js/chat.js"></script>

</body>
</html>