* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: white;
}

h1 {
  text-align: center;
}

form {
  width: 300px;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  display: block;
  margin-top: 5px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.boundary {
  background: #000066;
  height: 40px;
  border-width: 2px;
  border-color: #666666;
  border-style: solid;
}

.nav-item {
  font-family: "Gugi", cursive;
  font-size: 35px;
  text-align: center;
}

#showPanelBtn {
  color: default;
}

#panel {
  position: fixed;
  top: 0;
  right: -300px; /* 패널이 오른쪽으로 사라지도록 위치를 설정합니다 */
  width: 300px;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out; /* 패널이 슬라이드되도록 설정합니다 */
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#panel.show {
  transform: translateX(-300px);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.box {
  width: 500px;
  border: 3px solid #ccc;
  padding: 20px;
  margin: 0 10px;
}

.info {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: column;
  align-items: flex-start;
}

.edit {
  background-color: #000066;
  border: #666666;
  color: white;
  width: 70px;
  height: 30px;
  border-radius: 5px;
  font-weight: 600;
}

.change {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0;
  font-weight: 600;
}

.changebtn {
  margin: 10px 0;
  font-weight: 600;
  color: gray;
}

.logbtn {
  border: 2px solid rgb(221, 221, 233);
  box-shadow: 0px 0px 10px rgb(221, 221, 233);
  background-color: white;
  width: 150px;
  height: 30px;
  font-size: 15px;
  font-weight: 600;
}

.panelbtn {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.panelbtn1 {
  border: 2px solid rgb(221, 221, 233);
  box-shadow: 0px 0px 10px rgb(221, 221, 233);
  background-color: white;
  width: 150px;
  height: 30px;
  margin: 5px;
  font-size: 15px;
  font-weight: 600;
}

.login {
  width: 100%;
  height: 30px;
  background-color: #000066;
  color: white;
  margin-top: 20px;
  border-radius: 5px;
}

.jointab {
  display: flex;
  align-items: center;
  justify-content: center;
}

.join {
  color: orange;
  font-weight: 600;
  font-size: 16px;
  margin-left: 10px;
}
