* {
    margin: 0;
    padding: 0;
    
  }
  
  html,
  body {
    height: 100%;
    background-color: white;
  }
  
  button{
    background: none;
    border: none;
    cursor: pointer;
  }

  input:focus {outline: none;}

  .nav-item {
    font-family: 'Gugi', cursive;
    font-size: 35px;
    text-align: center;
    
  }

  .wrapper {
    height: 88%;
    width: 99.9%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid black;
    position: relative;
  }

  .boundary{
    background: #000066;
    height: 40px;
    border-width:2px; 
    border-color:#666666; 
    border-style:solid;
  }

  .user-container {
    background: #FF0033;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
  }
  
  .user-container label {
    font-size: 14px;
    margin-right: 1rem;
  }
  
  .user-container input {
    border-radius: 3px;
    border: none;
    height: 100%;
  }
  
  .user-container .user-image {
    border-radius: 50%;
    object-fit: cover;
    width: 70px;
    height: 70px;
  }

  .display-container {
    background: #EEEEEE;
    flex: 12;
    overflow-y:auto;
  }
  
  .input-container {
    flex: 1;
    display: flex;
    justify-content: stretch;
    align-items: center;
    padding: 3px;
    margin-left: 10px;
  }
  
  .input-container textarea {
    outline: none;
    display: inline-block;
    box-sizing: border-box;
    font: inherit;
    padding: 0.5em;
    border-radius: 3px;
    background-color: #fff;
    color: #555;
    vertical-align: middle;
    resize: none;
    height: auto;
    min-height: 2em;
    overflow: hidden;
  }
  
  .chatting-input {
    font-size: 15px;
    height: 100%;
    flex: 8;
    border: none;
  }
  
  .send-button {
    flex: 1;
    background: rgb(221, 221, 233);
    border: none;
    height: 100%;
    border-radius: 3px;
    font-weight: 700;
    color: rgb(92, 104, 136);
  }
  
  .chatting-list li {
    width: 90%;
    padding: 0.3rem;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    margin-top: 0.5rem;
  }
  
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .profile .user {
    font-size: 10px;
    margin-bottom: 0.2rem;
    font-weight: 1000;
  }
  
  .profile .user-image {
    border-radius: 50%;
    object-fit: cover;
    width: 70px;
    height: 70px;
  }

  .profile .received-image {
    border-radius: 50%;
    object-fit: cover;
    width: 70px;
    height: 70px;
  }
  
  .message {
    border-radius: 30px;
    padding: 1rem;
    font-size: 20px;
    font-weight: 600;
    /* font-family: 'Nanum Pen Script', cursive; */
    margin: 0 5px;
    min-width: 40px;
    box-shadow: 2px 2px 4px gray;
    display: inline-block;
  }
  
  .time {
    font-size: 10px;
    margin: 0 5px;
    align-self: end;
  }
  
  .sent {
    flex-direction: row-reverse;
    float: right;
    text-align: center;
  }
  
  .sent .message {
    background: rgb(221, 221, 233);
  }
  
  .received {
    max-width: 1000px;
  }

  .received .message {
    background: #fff;
  }

  .received .received-image {
    border-radius: 50%;
    object-fit: cover;
    width: 70px;
    height: 70px;
  }

  .received .guide-box {
    float: left;
    background-color: rgb(221, 221, 233);
    width: 250px;
    height: 80px;
    border-radius: 15px;
    margin: 10px;
    color: rgb(92, 104, 136);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  #showPanelBtn {
    color: default;
  }

  #panel {
    position: fixed;
    top: 0;
    right: -300px; /* 패널이 오른쪽으로 사라지도록 위치를 설정합니다 */
    width: 300px;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out; /* 패널이 슬라이드되도록 설정합니다 */
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #panel.show {
    transform: translateX(-300px);
  }

  .logbtn{
    border: 2px solid rgb(221, 221, 233);
    box-shadow: 0px 0px 10px rgb(221, 221, 233);
    background-color: white;
    width: 150px;
    height: 30px;
    font-size: 15px;
    font-weight: 600;
}

.panelbtn{
    margin-top: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.panelbtn1{
    border: 2px solid rgb(221, 221, 233);
    box-shadow: 0px 0px 10px rgb(221, 221, 233);
    background-color: white;
    width: 150px;
    height: 30px;
    margin: 5px;
    font-size: 15px;
    font-weight: 600;
}