@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("/images/background.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.gct {
  font-size: 2em;
  color: #fff;
  user-select: none;
}

.navigation a {
  position: relative;
  font-size: 1.3em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center; /* 가로 방향 중앙 정렬 */
  width: 100%;
  min-height: 100vh; /* 최소 높이를 100vh로 설정하고, 내용에 따라 높이가 증가하도록 함 */
  padding-top: 8%; /* 상단 패딩을 65%로 설정하여, 화면 중앙보다 조금 낮게 위치하도록 함 */
}

.wrapper {
  position: relative;
  height: 750px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

h2 {
  color: #fff;
}

#no-results {
  font-size: 30px; 
  margin: 30px;
}


.course-info {
  flex: 4;
  margin: 20px;
  padding: 20px;
}

.timeTable {
  flex: 3;
  margin: 20px;
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 36px;
  margin-top: 20px;
  color: #fff;
  /* 글자색을 흰색으로 변경 */
}

/* Search box */
#search-box {
  height: 45px;
  margin: 5px;
  padding: 0 20px;
  font-size: 18px;
  color: #fff;
  background: rgba(200, 225, 255, 0.7);
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 7px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  width: 50%;
}

/* Department list */
#department-list {
  height: 45px;
  margin: 5px;
  padding: 0 10px;
  font-size: 18px;
  color: #fff;
  background-color: rgba(242, 242, 242, 0.5);
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 7px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  width: 15%;
  transition: background 0.3s ease-in-out;
}

#department-list:hover {
  background: rgba(200, 225, 255, 0.7);
}

/* Search button */
#search-button {
  height: 45px;
  margin: 5px;
  padding: 0 20px;
  font-size: 18px;
  color: #fff;
  background-color: rgba(242, 242, 242, 0.5);
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 7px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  width: 10%;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

#search-button:hover {
  background: rgba(200, 225, 255, 0.7);
}


.course-list-box{
  overflow-y: auto;
  /* 세로 스크롤 바 표시 */
}

.course-list-box td{
  border: none;
  font-size: 1.2em; 
}

.header-table{
  height: 60px;
  font-size: 22px;
}

.timeTable td, .timeTable th {
  width: 1000px; 
  height: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: #fff;
  /* 글자색을 흰색으로 변경 */
}

th {
  background-color: rgba(242, 242, 242, 0.5);
  /* 배경색 투명하게 변경 */
  font-weight: bold;
  position: sticky;
  top: 0;
}

/* 고정 헤더용 테이블과 내용 테이블의 열 너비 일치 */
.header-table,
.course-list-box {
  table-layout: fixed;
  width: 100%;
}

/* 각 열의 너비 설정 */
.header-table th:nth-child(1),
.course-list-box td:nth-child(1) {
  width: 15%;
}

.header-table th:nth-child(2),
.course-list-box td:nth-child(2) {
  width: 30%;
}

.header-table th:nth-child(3),
.course-list-box td:nth-child(3) {
  width: 10%;
}

.header-table th:nth-child(4),
.course-list-box td:nth-child(4) {
  width: 10%;
}

.header-table th:nth-child(5),
.course-list-box td:nth-child(5) {
  width: 20%;
}

.header-table th:nth-child(6),
.course-list-box td:nth-child(6) {
  width: 15%;
}

.modal {
  display: none; /* 모달창을 처음에는 숨겨둡니다. */
  position: fixed; /* 화면 상에 고정합니다. */
  z-index: 1; /* 다른 요소보다 위에 표시됩니다. */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(
    0,
    0,
    0,
    0.4
  ); /* 배경색은 투명도가 있는 검정색입니다. */
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
