<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>비밀번호 변경</title>
    <link rel="stylesheet" type="text/css" href="/css/changepwstyle.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Gugi&family=Nanum+Pen+Script&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <ul class="navbar">
      <li class="nav-item" style="min-height: 45px">
        <a href="/"
          ><img src="/images/home1.png" alt="홈" style="float: left"
        /></a>
        <a href="/" class="title">chat - GCT</a>
        <button id="showPanelBtn" style="float: right">
          <img src="/images/Menu.png" alt="메뉴" />
        </button>
        <div id="panel">
          <button id="hidePanelBtn" style="margin-left: auto">
            <img src="/images/hide.png" alt="닫기" />
          </button>
          <span style="margin-top: 30px; font-size: 20px">chat-GCT</span>
          <img
            src="/images/gachon.png"
            style="width: 45px; height: 45px; margin: 10px"
          />
          <!-- <a href="/login/"
            ><button class="logbtn" id="loginbtn" onclick="login()">
              로그인
            </button></a
          > -->
          <a href="/login/logout"><button class="logbtn" id="logoutbtn" style="display: inline-block;">로그아웃</button></a>
          <div class="panelbtn">
            <a href="/mypage/" id="mypagebtn" 
              ><button class="panelbtn1">내 정보</button></a
            >
            <a href="/timetable/" id="timetablebtn" 
              ><button class="panelbtn1">시간표</button></a
            >
          </div>
        </div>
      </li>
    </ul>
    <div class="boundary">
      <span>&nbsp 관련사이트 |</span>
      <span class="rotating-text"><a href="https://www.gachon.ac.kr/kor/index.do" target="_blank">가천대학교 홈페이지</a></span>
      <span class="rotating-text"><a href="https://cyber.gachon.ac.kr/login.php" target="_blank">가천대학교 사이버캠퍼스</a></span>
      <span class="rotating-text"><a href="https://lib.gachon.ac.kr/" target="_blank">가천대학교 중앙도서관(G)</a></span>
      <span class="rotating-text"><a href="https://sso.gachon.ac.kr/svc/tk/Auth.do?ac=Y&ifa=N&id=portal&" target="_blank">가천포털 학사행정</a></span>
    </div>
    <div class="container">
      <div class="box" style="margin-bottom: 20px; margin-top: 20px">
        <div class="info">
          <h4 style="margin-bottom: 30px">비밀번호 변경</h4>
          <form id="changepw_process" onsubmit="return validate()">
            <!-- <h5>비밀번호</h5>
            <input type="text" id="pw" style="width: 160%; padding: 0.5em" /> -->
            <h5 style="margin-top: 20px">변경할 비밀번호</h5>
            <input
              type="password"
              id="changepw"
              name="newpw"
              style="width: 160%; padding: 0.5em"
            />
            <!-- <h5 style="margin-top: 20px">비밀번호 확인</h5>
            <input
              type="text"
              id="changepw2"
              style="width: 160%; padding: 0.5em"
            /> -->
            <button 
            type="submit"
            id="changepwbtn"
            class="pw_change"
            style="width: 166%; padding: 0.5em"
            >비밀번호 변경</button>
          </form>

        </div>
      </div>
    </div>

    <script src="/js/panel.js"></script>
    <script src="/js/mypage_changePw.js"></script>
    <script src="/js/banner.js"></script>
    
  </body>
</html>
