<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>회원가입</title>
    <link rel="stylesheet" type="text/css" href="/css/joinstyle.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Gugi&family=Nanum+Pen+Script&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <ul class="navbar">
      <li class="nav-item" style="min-height: 45px">
        <a href="/"
          ><img src="/images/home1.png" alt="홈" style="float: left"
        /></a>
        <a class="title">CHAT - GCT</a>
        <button id="showPanelBtn" style="float: right">
          <img src="/images/Menu.png" alt="메뉴" />
        </button>
        <div id="panel">
          <button id="hidePanelBtn" style="margin-left: auto">
            <img src="/images/hide.png" alt="닫기" />
          </button>
          <span style="margin-top: 30px; font-size: 20px">CHAT-GCT</span>
          <img
            src="/images/gachon.png"
            style="width: 45px; height: 45px; margin: 10px"
          />
          <a href="/login/"
            ><button class="logbtn" id="loginbtn" onclick="login()">
              로그인
            </button></a
          >
          <!-- <a href="/login/logout"
            ><button
              class="logbtn"
              id="logoutbtn"
              style="display: inline-block"
            >
              로그아웃
            </button></a
          >
          <div class="panelbtn">
            <a href="/mypage/" id="mypagebtn"
              ><button class="panelbtn1">내 정보</button></a
            >
            <a href="/timetable/" id="timetablebtn"
              ><button class="panelbtn1">시간표</button></a
            >
          </div> -->
        </div>
      </li>
    </ul>
    <p class="boundary"></p>
    <div class="container">
      <div class="box" style="margin-bottom: 20px; margin-top: 20px">
        <div class="info">
          <h4 style="margin-bottom: 30px">회원가입</h4>
          <form id="send_code" onsubmit="return validate()">
            <h5>정보입력</h5>
            <input
              type="text"
              style="width: 160%; padding: 0.5em"
              name="name"
              id="name"
              placeholder="이름"
              maxlength="20"
              required
            />
            <input
              type="text"
              style="width: 160%; padding: 0.5em"
              name="studentnum"
              id="studentnum"
              placeholder="학번"
              maxlength="20"
              required
            />
            <input
              type="text"
              style="width: 160%; padding: 0.5em"
              name="subject"
              id="major"
              placeholder="학과"
              maxlength="20"
              required
            />
            <h5 style="margin-top: 20px">이메일/비밀번호</h5>
            <input
              type="email"
              style="width: 160%; padding: 0.5em"
              name="loginid"
              id="loginid"
              list="options"
              placeholder="example@email.com"
              required
            />
            <!-- <datalist id="options">
              <option value="@gmail.com">@gmail.com</option>
              <option value="@naver.com">@naver.com</option>
              <option value="@yahoo.net">@yahoo.net</option>
            </datalist> -->
            <input
              type="password"
              style="width: 160%; padding: 0.5em"
              name="password"
              id="password"
              placeholder="비밀번호"
            />
            <p>
              <input type="hidden" name="class" value="a" />
            </p>

            <a style="width: 100%; height: 100%"
              ><button
                type="submit"
                id="register"
                class="login"
                style="margin-bottom: 20px"
              >
                회원 가입
              </button></a
            >
          </form>
        </div>
      </div>
    </div>
    <div id="verificationModal" class="modal">
      <div class="modal-content">
        <h5 class="verificationCodeText">인증 코드 입력</h5>
        <form id="verificationCode" onsubmit="return validate()">
          <input
            type="text"
            class="verificationCodeBox"
            name="verificationCode"
            placeholder="인증 코드"
            required
          />
          <button type="submit" class="submitButton">확인</button>
        </form>
      </div>
    </div>
    <script src="/js/panel.js"></script>
    <script src="/js/register.js"></script>
  </body>
</html>
