<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>회원가입</title>
    <link rel="stylesheet" type="text/css" href="/css/joinstyle.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Gugi&family=Nanum+Pen+Script&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <ul class="navbar">
      <li class="nav-item" style="min-height: 45px">
        <a href="/"
          ><img src="/images/home1.png" alt="홈" style="float: left"
        /></a>
        <a href="/" class="title"><img src="/images/title.png"></a>
        <button id="showPanelBtn" style="float: right">
          <img src="/images/Menu.png" alt="메뉴" />
        </button>
        <div id="panel">
          <button id="hidePanelBtn" style="margin-left: auto">
            <img src="/images/hide.png" alt="닫기" />
          </button>
          <span style="margin-top: 30px; font-size: 20px">chat-GCT</span>
          <img
            src="/images/gachon.png"
            style="width: 45px; height: 45px; margin: 10px"
          />
          <a href="/login/"
            ><button class="logbtn" id="loginbtn" onclick="login()">
              로그인
            </button></a>
            <a href="/login/join/"><button class="joinbtn">회원가입</button></a>
          <!-- <a href="/login/logout"
            ><button
              class="logbtn"
              id="logoutbtn"
              style="display: inline-block"
            >
              로그아웃
            </button></a
          >
          <div class="panelbtn">
            <a href="/mypage/" id="mypagebtn"
              ><button class="panelbtn1">내 정보</button></a
            >
            <a href="/timetable/" id="timetablebtn"
              ><button class="panelbtn1">시간표</button></a
            >
          </div> -->
        </div>
      </li>
    </ul>
    <div class="boundary">
      <span>&nbsp 관련사이트 |</span>
      <span class="rotating-text"><a href="https://www.gachon.ac.kr/kor/index.do" target="_blank">가천대학교 홈페이지</a></span>
      <span class="rotating-text"><a href="https://cyber.gachon.ac.kr/login.php" target="_blank">가천대학교 사이버캠퍼스</a></span>
      <span class="rotating-text"><a href="https://lib.gachon.ac.kr/" target="_blank">가천대학교 중앙도서관(G)</a></span>
      <span class="rotating-text"><a href="https://sso.gachon.ac.kr/svc/tk/Auth.do?ac=Y&ifa=N&id=portal&" target="_blank">가천포털 학사행정</a></span>
    </div>
    <div class="container">
      <div class="box" style="margin-bottom: 20px; margin-top: 20px">
        <div class="info">
          <h4 style="margin-bottom: 30px">회원가입</h4>
          <form id="send_code" onsubmit="return validate()">
            <h5>정보입력</h5>
            <input
              type="text"
              style="width: 160%; padding: 0.5em"
              name="name"
              id="name"
              placeholder="이름"
              maxlength="20"
              required
            />
            <input
              type="text"
              style="width: 160%; padding: 0.5em;"
              name="studentnum"
              id="studentnum"
              placeholder="학번"
              maxlength="20"
              required
            />
            <select id="department-list" name="department" style="width: 166%; padding:0.5em; margin-top:5px;">
              <option value="전체 학과">전체 학과</option>
              <option value="한국학전공">한국학전공</option>
              <option value="경영학부">경영학부</option>
              <option value="경영학부(경영학)">경영학부(경영학)</option>
              <option value="경영학부(글로벌경영학)">경영학부(글로벌경영학)</option>
              <option value="금융수학과">금융수학과</option>
              <option value="국어국문학과">국어국문학과</option>
              <option value="영어영문학과">영어영문학과</option>
              <option value="동양어문학과">동양어문학과</option>
              <option value="유렵어문학과">유럽어문학과</option>
              <option value="법학과">법학과</option>
              <option value="행정학과">행정학과</option>
              <option value="글로벌경제학과">글로벌경제학과</option>
              <option value="관광경영학과">관광경영학과</option>
              <option value="회계·세무학과">회계·세무학과</option>
              <option value="사회복지학과">사회복지학과</option>
              <option value="유아교육학과">유아교육학과</option>
              <option value="보건정책·관리학과">보건정책·관리학과</option>
              <option value="언론영상광고학과">언론영상광고학과</option>
              <option value="경찰·안보학과">경찰·안보학과</option>
              <option value="응용통계학과">응용통계학과</option>
              <option value="교육학과">교육학과</option>
              <option value="특수상담치료학과">특수상담치료학과</option>
              <option value="의상학과">의상학과</option>
              <option value="식품영양학과">식품영양학과</option>
              <option value="나노-나노물리학과">나노-나노물리학과</option>
              <option value="나노-나노화학과">나노-나노화학과</option>
              <option value="나노-생명과학과">나노-생명과학과</option>
              <option value="간호학과">간호학과</option>
              <option value="보건과학과">보건과학과</option>
              <option value="보건학과">보건학과</option>
              <option value="약학과">약학과</option>
              <option value="도시계획학과">도시계획학과</option>
              <option value="조경학과">조경학과</option>
              <option value="건축학과-건축학">건축학과-건축학</option>
              <option value="건축학과-건축공학">건축학과-건축공학</option>
              <option value="건축학과-실내건축학">건축학과-실내건축학</option>
              <option value="산업공학과">산업공학과</option>
              <option value="설비·소방공학과-소방방재공학">설비·소방공학과-소방방재공학</option>
              <option value="기계공학과">기계공학과</option>
              <option value="식품생명공학과">식품생명공학과</option>
              <option value="토목환경공학과">토목환경공학과</option>
              <option value="인공지능학과">인공지능학과</option>
              <option value="신소재공학과">신소재공학과</option>
              <option value="바이오나노융합학과">바이오나노융합학과</option>
              <option value="IT융합공학과-컴퓨터공학">IT융합공학과-컴퓨터공학</option>
              <option value="게임영상공학과">게임영상공학과</option>
              <option value="AI·소프트웨어학과">AI·소프트웨어학과</option>
              <option value="정보보호학과">정보보호학과</option>
              <option value="차세대스마트에너지시스템융합학과">차세대스마트에너지시스템융합학과</option>
              <option value="나노-화공생명공학과">나노-화공생명공학과</option>
              <option value="나노-전기공학과">나노-전기공학과</option>
              <option value="나노-전자공학과">나노-전자공학과</option>
              <option value="나노-에너지IT학과">나노-에너지IT학과</option>
              <option value="한의학과">한의학과</option>
              <option value="공연예술학과">공연예술학과</option>
              <option value="조소과">조소과</option>
              <option value="디자인학과-시각디자인">디자인학과-시각디자인</option>
              <option value="디자인학과-산업디자인">디자인학과-산업디자인</option>
              <option value="회화과">회화과</option>
              <option value="음학학과">음학학과</option>
              <option value="체육학과">체육학과</option>
              <option value="융합의과학과">융합의과학과</option>
              <option value="의학과">의학과</option>
            </select>
            <h5 style="margin-top: 20px">이메일/비밀번호</h5>
            <input
              type="email"
              style="width: 160%; padding: 0.5em"
              name="loginid"
              id="loginid"
              list="options"
              placeholder="example@email.com"
              required
            />
            <!-- <datalist id="options">
              <option value="@gmail.com">@gmail.com</option>
              <option value="@naver.com">@naver.com</option>
              <option value="@yahoo.net">@yahoo.net</option>
            </datalist> -->
            <input
              type="password"
              style="width: 160%; padding: 0.5em"
              name="password"
              id="password"
              placeholder="비밀번호"
            />
            <p>
              <input type="hidden" name="class" value="a" />
            </p>

            <a style="width: 100%; height: 100%"
              ><button
                type="submit"
                id="register"
                class="login"
                style="margin-bottom: 20px"
              >
                회원 가입
              </button></a
            >
          </form>
        </div>
      </div>
    </div>
    <div id="verificationModal" class="modal">
      <div class="modal-content">
        <h5 class="verificationCodeText">인증 코드 입력</h5>
        <form id="verificationCode" onsubmit="return validate()">
          <input
            type="text"
            class="verificationCodeBox"
            name="verificationCode"
            placeholder="인증 코드"
            required
          />
          <button type="submit" class="submitButton">확인</button>
        </form>
      </div>
    </div>
    <script src="/js/panel.js"></script>
    <script src="/js/register.js"></script>
    <script src="/js/list.js"></script>
    <script src="/js/banner.js"></script>
  </body>
</html>
