<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat GCT</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Gugi&family=Nanum+Pen+Script&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h3>아이디 혹은 패스워드가 틀립니다.</h3>
    <br />

    <div class="jointab">
      <span style="color: gray">CHAT-GCT가 처음이신가요?</span>
      <a href="/login/join/"><button class="join">>>>회원가입<<<</button></a>
    </div>
  </body>
</html>
