<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>사용자 정보 확인 및 변경</title>
    <link rel="stylesheet" type="text/css" href="/css/mypagestyle.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Gugi&family=Nanum+Pen+Script&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%
  // 로그인한 사용자의 ID 값을 loginid 변수에 저장
  var loginid = loginid;

  // results 배열을 loginid 값을 기준으로 오름차순 정렬
  results.sort(function(a, b) {
    return a.loginid.localeCompare(b.loginid);
  });

  var start = 0;
  var end = results.length - 1;
  var middle;

  // 이진 검색(binary search) 알고리즘을 활용하여
  // loginid 값이 일치하는 요소를 찾음
  while (start <= end) {
    middle = Math.floor((start + end) / 2);
    if (results[middle].loginid < loginid) {
      start = middle + 1;
    } else if (results[middle].loginid > loginid) {
      end = middle - 1;
    } else {
      break;
    }
  }

  // loginid 값이 일치하는 요소가 존재하는 경우 해당 요소의 name 값을 출력
  if (results[middle] && results[middle].loginid === loginid) {
    var name = results[middle].name;
    var subject = results[middle].subject;
    var studentnum = results[middle].studentnum;
  } else {
    // loginid 값이 일치하는 요소가 존재하지 않는 경우 name 변수를 빈 문자열로 초기화
    var name = "";
    var subject = "";
    var studentnum = 0;
  }
%>


    <ul class="navbar">
      <li class="nav-item" style="min-height: 45px">
        <a href="/"
          ><img src="../images/home1.png" alt="홈" style="float: left"
        /></a>
        <a href="/" class="title">chat - GCT</a>
        <button id="showPanelBtn" style="float: right">
          <img src="../images/Menu.png" alt="메뉴" />
        </button>
        <div id="panel">
          <button id="hidePanelBtn" style="margin-left: auto">
            <img src="../images/hide.png" alt="닫기" />
          </button>
          <span style="margin-top: 30px; font-size: 20px">chat-GCT</span>
          <img
            src="../images/gachon.png"
            style="width: 45px; height: 45px; margin: 10px"
          />
          <!-- <a href="/login/"
            ><button class="logbtn" id="loginbtn" onclick="login()">
              로그인
            </button></a
          > -->
          <a href="/login/logout"><button class="logbtn" id="logoutbtn" style="display: inline-block;">로그아웃</button></a>
          <div class="panelbtn">
            <a href="/mypage/" id="mypagebtn" 
              ><button class="panelbtn1">내 정보</button></a
            >
            <a href="/timetable/" id="timetablebtn" 
              ><button class="panelbtn1">시간표</button></a
            >
          </div>
        </div>
      </li>
    </ul>
    <p class="boundary"></p>
    <div class="container">
      <div class="box" style="margin-bottom: 20px; margin-top: 20px">
        <div class="info">
          <h4>내 정보</h4>
          <a href="/mypage/change_id/"><button class="edit" id="button1" onclick="enableInput()">
            정보수정
          </button>
        </a>
          <button
            class="edit"
            id="button2"
            onclick="disableInput()"
            style="display: none"
          >
            저장
          </button>
        </div>
        <form>
          <div>
            <input
              type="email"
              style="width: 140%; padding: 0.5em"
              disabled
              value="아이디 | <%=loginid%>"
            />
          </div>
          <div>
            <input
              type="text"
              style="width: 140%; padding: 0.5em"
              disabled
              value="학과 학번 이름 | <%=subject%> <%=studentnum%> <%=name%>"
            />
          </div>
        </form>
      </div>
      <div class="box">
        <h4>변경 사항</h4>
        <div class="change">
          <a href="/mypage/change_id/"
            ><button class="changebtn">아이디 변경</button></a
          >
          <a href="/mypage/change_pw/"
            ><button class="changebtn">비밀번호 변경</button></a
          >
          <a href="/mypage/withdraw/"
            ><button class="changebtn">회원 탈퇴</button></a
          >
        </div>
      </div>
    </div>


    <script src="../js/panel.js"></script>
  </body>
</html>

