<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>chat GCT</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Jua&family=Noto+Sans+KR:wght@500&display=swap"
    rel="stylesheet" />
</head>
<body>
   <ul class="navbar">
      <li class="nav-item" style="min-height: 45px">
        <a href="/"
          ><img src="../images/home1.png" alt="홈" style="float: left"
        /></a>
        <a href="/" class="title"><img src="/images/title.png"></a>
        <button id="showPanelBtn" style="float: right">
          <img src="../images/Menu.png" alt="메뉴" />
        </button>
        <div id="panel">
          <button id="hidePanelBtn" style="margin-left: auto">
            <img src="../images/hide.png" alt="닫기" />
          </button>
          <span style="margin-top: 30px; font-size: 20px">chat-GCT</span>
          <img
            src="../images/gachon.png"
            style="width: 45px; height: 45px; margin: 10px"
          />
          <!-- <a href="/login/"
            ><button class="logbtn" id="loginbtn" onclick="login()">
              로그인
            </button></a
          > -->
          <a href="/login/logout"><button class="logbtn" id="logoutbtn" style="display: inline-block;">로그아웃</button></a>
          <div class="panelbtn">
            <a href="/mypage/" id="mypagebtn" 
              ><button class="panelbtn1">내 정보</button></a
            >
            <a href="/timetable/" id="timetablebtn" 
              ><button class="panelbtn1">시간표</button></a
            >
          </div>
        </div>
      </li>
    </ul>
      <div class="boundary">
        <span>&nbsp 관련사이트 |</span>
        <span class="rotating-text"><a href="https://www.gachon.ac.kr/kor/index.do" target="_blank">가천대학교
            홈페이지</a></span>
        <span class="rotating-text"><a href="https://cyber.gachon.ac.kr/login.php" target="_blank">가천대학교
            사이버캠퍼스</a></span>
        <span class="rotating-text"><a href="https://lib.gachon.ac.kr/" target="_blank">가천대학교 중앙도서관(G)</a></span>
        <span class="rotating-text"><a href="https://sso.gachon.ac.kr/svc/tk/Auth.do?ac=Y&ifa=N&id=portal&"
            target="_blank">가천포털 학사행정</a></span>
      </div>
      <div class="wrapper">
        <div class="display-container">
          <ul class="chatting-list">
            <li class="received">
              <span class="profile">
                <img class="received-image" src="/images/icon.png" alt="any" />GCT
              </span>
              <span class="message">
                시간표 추천 페이지입니다.
                원하는 시간과 요일, 이수를 선택해주세요.
              </span>
            </li>
            <li class="sent">
              <span class="message">
                <form id="recommend">
                  <select id="classtime">
                    <option id="ex" value="수업시간">수업시간</option>
                  </select>
                  <select id="subtype">
                    <option id="ex" value="이수">이수</option>
                    <option value="전필">전필</option>
                    <option value="전선">전선</option>
                    <option value="교필">교필</option>
                    <option value="교선">교선</option>
                    <option value="계교">계교</option>
                  </select>
                </form>
                <button type="submit" id="submitbtn" class="submitbtn" disabled>확인</button>
              </span>
            </li>
          </ul>
        </div>
        <!-- <div class="input-container">
          <textarea class="chatting-input" autofocus placeholder="질문을 입력해주세요."></textarea>
          <button class="send-button"><img src="/images/send.png" /></button>
        </div> -->
      </div>

      <script src="/socket.io/socket.io.js"></script>
      <script src="/js/panel.js"></script>
      <script src="/js/recommend.js"></script>
      <script src="/js/banner.js"></script>

</body>
</html>